h2 {
  color: #39CCCC;
  width: 30%
}

body {
  margin: 0 auto;
  position: relative;
}

#btn {
  color: #FFF;
  background-color: #33C3F0;
}

.text {
  border-radius: 10px;
}

hr {
  width: 70%;
  position:relative;
  right: 15%;
}

.reset {
  color: #FFF;
  background-color: #9A0E2A;
}

.errorPrint {
  color: red;
}
